{% extends "base.html" %}

{% block title -%}Projects | {{ SITENAME }}{%- endblock title %}

{% block content -%}
    <div class="row">
        {%- for page in pages if page.is_project == "yes" %}
        <div class="col-sm-6">
            <article class="project-summary panel">
                <header>
                    <h2><a name="{{ page.url }}">{{ page.title }}</a></h2>
                </header>
                
                {{ page.content }}
                
                <footer>
                    {% set GITHUB_USER = page.github_user %}
                    {% set GITHUB_REPO = page.github_repo %}
                    {% include "github-fork.html" %}
                    {% include "github-star.html" %}
                </footer>
            </article>
        </div>
        {%- endfor %}
    </div>
{%- endblock content %}
