{% extends "page.html" %}

{% block content -%}
    <section id="project" class="container">
        <section id="left-column">
            {{ page.content }}
            
            <footer>
                {% set GITHUB_USER = page.github_user %}
                {% set GITHUB_REPO = page.github_repo %}
                {% include "github-fork.html" %}
                {% include "github-star.html" %}
                {% include "twitter-share.html" %}
            </footer>
        </section>
        
        <section id="right-column">
            <ol>
                {%- for tag, articles in tags if tag == page.title|lower %}
                {%- for article in articles %}
                <li>
                    <article>
                        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                            <h2>{{ article.title }}</h2>
                            <h3>{{ article.subtitle }}</h3>
                        </a>
                    </article>
                </li>
                {%- endfor %}
                {%- endfor %}
            </ol>
        </section>
        
        <br style="clear:both" />
        
        <section>
            {% include "disqus-comments.html" %}
        </section>
    </section>
{%- endblock content %}
