{% extends "base.html" %}

{% block title -%}Projects | {{ SITENAME }}{%- endblock title %}

{% block content -%}
    <section id="projects" class="container">
        <ol>
            {%- for page in pages if page.template == "project" %}
            {% if loop.index0 % 2 == 0 -%}
            <li>
                <article>
                    <header>
                        <h1>{{ page.title }}</h1>
                    </header>
                    
                    {{ page.content }}
                    
                    <footer>
                        {% set GITHUB_USER = page.github_user %}
                        {% set GITHUB_REPO = page.github_repo %}
                        {% include "github-fork.html" %}
                        {% include "github-star.html" %}
                        {% include "twitter-share.html" %}
                    </footer>
                </article>
            </li>
            {%- endif %}
            {%- endfor %}
        </ol>
        
        <ol>
            {%- for page in pages if page.template == "project" %}
            {% if loop.index0 % 2 != 0 -%}
            <li>
                <article>
                    <header>
                        <h1>{{ page.title }}</h1>
                    </header>
                    
                    {{ page.content }}
                    
                    <footer>
                        {% set GITHUB_USER = page.github_user %}
                        {% set GITHUB_REPO = page.github_repo %}
                        {% include "github-fork.html" %}
                        {% include "github-star.html" %}
                        {% include "twitter-share.html" %}
                    </footer>
                </article>
            </li>
            {%- endif %}
            {%- endfor %}
        </ol>
        
        <br style="clear:both" />
    </section>
{%- endblock content %}
