{% extends "base.html" %}

{% block title -%}Projects | {{ SITENAME }}{%- endblock title %}

{% block content -%}
    <div class="row">
        <div class="span6">
            {%- for page in pages if page.is_project == "yes" %}
            {% if loop.index0 % 2 == 0 -%}
            <article class="project-summary">
                <header>
                    <h2>{{ page.title }}</h2>
                </header>
                
                {{ page.content }}
                
                <footer>
                    {% set GITHUB_USER = page.github_user %}
                    {% set GITHUB_REPO = page.github_repo %}
                    {% include "github-fork.html" %}
                    {% include "github-star.html" %}
                    {% include "twitter-share.html" %}
                </footer>
            </article>
            {%- endif %}
            {%- endfor %}
        </div>
        
        <div class="span6">
            {%- for page in pages if page.is_project == "yes" %}
            {% if loop.index0 % 2 != 0 -%}
            <article class="project-summary">
                <header>
                    <h2>{{ page.title }}</h2>
                </header>
                
                {{ page.content }}
                
                <footer>
                    {% set GITHUB_USER = page.github_user %}
                    {% set GITHUB_REPO = page.github_repo %}
                    {% include "github-fork.html" %}
                    {% include "github-star.html" %}
                    {% include "twitter-share.html" %}
                </footer>
            </article>
            {%- endif %}
            {%- endfor %}
        </div>
    </div>
{%- endblock content %}
