{% extends "base.html" %}

{% block title -%}Blog | {{ SITENAME }}{%- endblock title %}

{% block content -%}
    <section id="archive" class="row">
        <ol class="span6">
            {%- for article in dates %}
            {% if loop.index0 is even -%}
            <li>
                <article>
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                        <h2>{{ article.title }}</h2>
                        {% if article.subtitle -%}
                        <h3>{{ article.subtitle }}</h3>
                        {%- else -%}
                        <h3>{{ article.summary[:article.summary.index('<br>')] }}</h3>
                        {%- endif %}
                    </a>
                </article>
            </li>
            {%- endif %}
            {%- endfor %}
        </ol>

        <ol class="span6">
            {%- for article in dates %}
            {% if loop.index0 is odd -%}
            <li>
                <article>
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                        <h2>{{ article.title }}</h2>
                        {% if article.subtitle -%}
                        <h3>{{ article.subtitle }}</h3>
                        {%- else -%}
                        <h3>{{ article.summary[:article.summary.index('<br>')] }}</h3>
                        {%- endif %}
                    </a>
                </article>
            </li>
            {%- endif %}
            {%- endfor %}
        </ol>
        
        <br style="clear:both" />
    </section>
{%- endblock content %}
