<!doctype html>
<!--[if lt IE 9]><html lang="{{ DEFAULT_LANG }}" class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html lang="{{ DEFAULT_LANG }}"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>{% block title -%}{{ SITENAME }}{%- endblock title %}</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="description" content="{{ DESCRIPTION }}">
    <meta name="keywords" content="{{ KEYWORDS }}">
    
    {% if FACEBOOK_APP_ID -%}
    <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}"/>
    {%- endif %}
    
    {%- assets filters="cssmin", output="css/normalize.min.css", "css/normalize.css" -%}
    <link href="{{ SITEURL }}/{{ ASSET_URL }}" rel="stylesheet">
    {%- endassets %}
    
    {%- assets filters="cssmin", output="css/pygments.min.css", "css/pygments.css" -%}
    <link href="{{ SITEURL }}/{{ ASSET_URL }}" rel="stylesheet">
    {%- endassets %}
    
    {%- assets filters="cssmin", output="css/main.min.css", "css/main.css" -%}
    <link href="{{ SITEURL }}/{{ ASSET_URL }}" rel="stylesheet">
    {%- endassets %}
    
    {% if FEED_ATOM -%}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" rel="alternate" type="application/atom+xml" title="{{ SITENAME }} Atom Feed" />
    {%- endif %}
    
    {% if FEED_RSS -%}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" rel="alternate" type="application/rss+xml" title="{{ SITENAME }} RSS Feed" />
    {%- endif %}
    
    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="{{ SITEURL }}/theme/js/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>
<body>
    <header>
        <div>
            <h2><a href="{{ SITEURL }}" title="">{{ SITENAME }}</a></h2>
            
            {% if MENUITEMS -%}
            <nav>
                <ul>
                    {%- for title, link in MENUITEMS %}
                    <li><a href="{{ SITEURL }}/{{ link }}" title="{{ title }}">{{ title }}</a></li>
                    {%- endfor %}
                </ul>
            </nav>
            {%- endif %}
        </div>
    </header>
    
    {% block content -%}
    {%- endblock content %}
    
    <footer>
        {% if SOCIAL or FEED_ATOM or FEED_RSS or LICENSE -%}
        <ul>
            {%- for title, link in SOCIAL %}
            <li><a href="{{ link }}" title="{{ title }}">{{ title }}</a></li>
            {%- endfor %}
            
            {% if FEED_ATOM -%}
            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" title="Feed" rel="alternate" type="application/atom+xml">Feed</a></li>
            {%- endif %}
            
            {% if FEED_RSS -%}
            <li><a href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" title="RSS" rel="alternate" type="application/rss+xml">RSS</a></li>
            {%- endif %}
            
            <li>{{ LICENSE }}</li>
        </ul>
        {%- endif %}
    </footer>
    
    {% include "analytics.html" %}
</body>
</html>
