{% if DISQUS_SITENAME -%}
<div id="disqus_thread"></div>

<script type="text/javascript">
    var disqus_shortname = '{{ DISQUS_SITENAME }}';
    (function() {
        var dsq = document.createElement('script');
        dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        dsq.type = 'text/javascript';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
    window.addEventListener("orientationchange", function() {
        DISQUS.reset({
            reload: true,
            config: function () {  
                this.page.identifier = '{{ article.url }}';
                this.page.url = '{{ SITEURL }}/{{ article.url }}';
            }
        });
    }, false);
</script>
{%- endif %}
