.site-footer {
    font-size: 0.9em;
    margin: 20px 0px 0px 0px;
}
.site-footer li {
    display: inline-block;
    margin: 0px 5px;
}
.site-footer ul {
    list-style: none;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    text-align: center;
}
