.header {
  padding: 30px 0px 0px 0px;
  text-align: center;
}
@media (min-width: $breakpoint-md) {
  .header {
    padding: 30px 0px 0px 20px;
    text-align: left;
  }
}
.header a {
  font-size: 1.2em;
}
