.nav {
  align-items: center;
  display: flex;
  justify-content: center;
}
@media (min-width: $breakpoint-md) {
  .nav {
    padding: 30px 20px 0px 0px;
  }
}
.nav li {
  display: inline-block;
  margin: 0px 10px;
}
@media (min-width: $breakpoint-md) {
  .nav li {
    margin: 0px 0px 0px 20px;
  }
}
.nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
