.post-header {
  margin: 0px 0px 30px 0px;
}
.post-header h1 {
  font-size: 2.2em;
  font-weight: 500;
  margin: 0px;
}
.post-header p {
  margin: 0px;
}
.post-excerpt {
  margin: 0px 0px 20px 0px;
}
.post-excerpt-header {
  margin: 0px 0px 20px 0px;
}
.post-excerpt-header h2 {
  font-weight: 500;
  margin: 0px;
}
.post-excerpt-header p {
  margin: 0px;
}
.post-excerpt p {
  margin: 0px;
}
.post-link h2 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 0px;
}
.post-time {
  color: #888888;
  font-size: 0.8em;
  font-variant: small-caps;
}
