.posts {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}
@media (min-width: $breakpoint-md) {
  .posts {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }
}
