.project {
    text-align: center;
}
.project h4 {
    margin: 10px 0px;
}
@media (min-width: $screen-sm) {
    .project h4 {
        overflow: hidden;
    }
}
.project p {
    margin: 10px 0px;
}
@media (min-width: $screen-sm) {
    .project p {
        height: 40px;
        overflow: hidden;
    }
}
