/* Common */

a {
    color: #333333;
    text-decoration: none;
}
a:hover,
a:focus {
    color: #ff6633;
    text-decoration: none;
}
body {
    background-color: #ffffff;
    color: #333333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
}
h1 {
    font-size: 2.3em;
    line-height: 40px;
}
h2 {
    font-size: 1.7em;
    line-height: 40px;
}
h3 {
    font-size: 1.3em;
    line-height: 40px;
}
h4 {
    font-size: 1.15em;
}
h5 {
    font-size: 1.0em;
}
h6 {
    font-size: 0.85em;
}

/* Header */

body > header {
    background-color: #f4f4f4;
    border-bottom: 2px solid #cccccc;
    margin: 0px 0px 40px 0px;
}
body > header a {
    text-transform: capitalize;
}
body > header h2 {
    font-weight: normal;
    margin: 10px 0px;
    text-align: center;
}
@media (min-width: 768px) {
    body > header h2 {
        float: left;
        text-align: left;
    }
}
body > header nav {
    line-height: 20px;
    margin: 10px 0px;
}
@media (min-width: 768px) {
    body > header nav {
        float: right;
        line-height: 40px;
    }
}
body > header nav li {
    display: inline-block;
    margin: 0px 10px;
}
@media (min-width: 768px) {
    body > header nav li {
        margin: 0px 0px 0px 20px;
    }
}
body > header nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
@media (min-width: 768px) {
    body > header nav ul {
        text-align: left;
    }
}

/* Footer */

body > footer {
    border-top: 2px solid #cccccc;
    color: #888888;
    font-size: 0.8em;
    margin: 40px 0px 0px 0px;
}
body > footer a {
    color: #888888;
    text-transform: uppercase;
}
body > footer a:hover {
    color: #ff6633;
}
body > footer li {
    display: inline-block;
    margin: 0px 5px;
}
body > footer ul {
    list-style: none;
    margin: 20px 0px;
    padding: 0px;
    text-align: center;
}

/* Article */

article {
    margin: 0px 0px 20px 0px;
}
.article-full a {
    font-weight: bold;
}
.article-full a:hover {
    color: #ff6633;
    text-decoration: underline;
}
.article-full aside {
    margin: 40px 0px;
}
.article-full aside iframe {
    float: right;
}
.article-full aside span {
    float: left;
}
.article-full blockquote {
    
}
.article-full h1,
.article-full h2,
.article-full h3,
.article-full h4,
.article-full h5,
.article-full h6,
.article-full p {
    margin: 20px 0px;
}
.article-full header {
    margin: 0px 0px 40px 0px;
}
.article-full header h1,
.article-full header h2,
.article-full header h3,
.article-full header h4,
.article-full header h5,
.article-full header h6,
.article-full header time {
    margin: 5px 0px;
}
.article-full header h5 {
    font-weight: normal;
}
.article-full header time {
    display: block;
    color: #888888;
    font-size: 0.8em;
    font-variant: small-caps;
}
.article-full img {
    background-color: #fafafa;
    border: 1px solid #cccccc;
    padding: 5px;
}
.article-full p {
    text-align: justify;
}
.article-full table {
    margin: 20px;
}
.article-full table th,
.article-full table td {
    border: 1px solid #cccccc;
    padding: 5px 10px;
}
.article-full .highlight {
    background-color: #222222;
    border: 1px solid #cccccc;
    color: #ffffff;
    margin: 20px 10px;
    padding: 10px;
}
.article-full .highlight pre {
    font-size: 0.8em;
    margin: 0px;
    overflow: auto;
    white-space: pre;
}
.article-full .comments {
    border-top: 2px solid #cccccc;
    margin: 40px 0px 0px 0px;
    padding: 20px 0px 0px 0px;
}

.article-link h2,
.article-link h5 {
    font-weight: normal;
    margin: 20px 20px;
}
@media (min-width: 768px) {
    .article-link h2,
    .article-link h5 {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .article-link h2 {
        height: 40px;
    }
    .article-link h5 {
        height: 20px;
    }
}

.article-summary {
    padding: 0px 20px;
}
.article-summary header {
    margin: 20px 0px;
}

/* Project */

.project-summary a {
}
.project-summary a:hover {
    color: #333333;
}
.project-summary footer,
.project-summary header,
.project-summary p {
    margin: 20px;
    text-align: center;
}
.project-summary h2 {
    font-weight: normal;
}
.project-summary iframe {
    margin: 0px 10px;
}
@media (min-width: 768px) {
    .project-summary h2,
    .project-summary p {
        height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* Other */

.panel {
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px #dddddd;
    display: block !important;
}
a.panel:hover {
    border: 1px solid #ff6633;
    box-shadow: 0px 0px 3px 0px #ffaa99;
    color: #ff6633;
}
@media (min-width: 768px) {
    body > header a,
    body > footer a,
    .article-link a {
        display: inline-block;
        -moz-transition: all 0.1s ease-out;
        -ms-transition: all 0.1s ease-out;
        -o-transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
    }
    body > header a:hover,
    body > footer a:hover,
    .article-link a:hover {
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}
